/* Text */
/* Background */
/* Dividers */
/* Typography */
/* Effects */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, #af67e9, #6565e7);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Kumbh Sans", sans-serif;
  padding: 5rem 0; }

.accordion {
  background-color: #ffffff;
  width: 90vw;
  height: auto;
  position: relative;
  padding: 3rem 2rem;
  border-radius: 2rem;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  display: grid;
  grid-template-columns: 1fr; }
  @media (min-width: 768px) {
    .accordion {
      width: 95vw;
      height: auto;
      grid-template-columns: repeat(2, 1fr);
      padding: 3rem 5rem;
      align-items: center; } }
  @media (min-width: 1440px) {
    .accordion {
      width: 65vw;
      min-height: 70vh;
      height: auto;
      padding: 3rem 5rem; } }
  .accordion .accordion-illustration-wrapper {
    transform: translateY(-5rem); }
    @media (min-width: 375px) {
      .accordion .accordion-illustration-wrapper {
        transform: translateY(-10rem); } }
    @media (min-width: 768px) {
      .accordion .accordion-illustration-wrapper {
        transform: translateY(0); } }
    .accordion .accordion-illustration-wrapper .accordion-illustration {
      display: block;
      max-width: 100%;
      height: auto;
      margin: 0 auto; }
      @media (min-width: 768px) {
        .accordion .accordion-illustration-wrapper .accordion-illustration {
          width: 50rem;
          transform: translateX(-10rem); } }
      @media (min-width: 1440px) {
        .accordion .accordion-illustration-wrapper .accordion-illustration {
          transform: translateX(-15rem); } }
  .accordion .accordion-content h1 {
    font-size: 2.6rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2.5rem; }
    @media (min-width: 768px) {
      .accordion .accordion-content h1 {
        text-align: left; } }
  .accordion .accordion-content .accordion-wrapper {
    position: relative; }
    .accordion .accordion-content .accordion-wrapper::after {
      content: "";
      width: 100%;
      position: absolute;
      height: 0.1rem;
      background-color: #e7e7e9; }
    .accordion .accordion-content .accordion-wrapper:not(:last-child) {
      padding-bottom: 0.5rem;
      margin-bottom: 1rem; }
    .accordion .accordion-content .accordion-wrapper .label-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .accordion .accordion-content .accordion-wrapper .label-wrapper input {
        display: none; }
      .accordion .accordion-content .accordion-wrapper .label-wrapper .accordion-label {
        display: block;
        padding: 1rem 0;
        cursor: pointer;
        color: #1d1e35;
        transition: all 0.3s ease;
        font-size: 1.2rem; }
        @media (min-width: 768px) {
          .accordion .accordion-content .accordion-wrapper .label-wrapper .accordion-label {
            text-align: left;
            font-size: 1.6rem; } }
        .accordion .accordion-content .accordion-wrapper .label-wrapper .accordion-label:hover {
          color: #f47c57; }
      .accordion .accordion-content .accordion-wrapper .label-wrapper .arrow-icon {
        transition: all 0.3s ease; }
    .accordion .accordion-content .accordion-wrapper .content {
      padding: .25rem 0;
      margin: 0 0 1px 0;
      display: none; }
      .accordion .accordion-content .accordion-wrapper .content p {
        font-size: 1.2rem;
        line-height: 1.5; }
        @media (min-width: 768px) {
          .accordion .accordion-content .accordion-wrapper .content p {
            font-size: 1.4rem; } }
    .accordion .accordion-content .accordion-wrapper input {
      display: none; }
    .accordion .accordion-content .accordion-wrapper input:checked ~ .content {
      display: block; }
    .accordion .accordion-content .accordion-wrapper input:checked ~ .label-wrapper .accordion-label {
      font-weight: 700; }
      .accordion .accordion-content .accordion-wrapper input:checked ~ .label-wrapper .accordion-label:hover {
        color: #1d1e35; }
    .accordion .accordion-content .accordion-wrapper input:checked ~ .label-wrapper .arrow-icon {
      transform: rotate(180deg); }
