/* Text */
$text-primary-dark: hsl(238, 29%, 16%);
$text-primary-red: hsl(14, 88%, 65%);

$text-secondary-dark: hsl(237, 12%, 33%);
$text-secondary-light: hsl(240, 6%, 50%);

/* Background */
$background-soft-violet: hsl(273, 75%, 66%);
$background-soft-blue: hsl(240, 73%, 65%);

/* Dividers */
$divider-color: hsl(240, 5%, 91%);

/* Typography */
$font-body-size: 1.2rem; // === 12px
$font-primary: "Kumbh Sans", sans-serif;

/* Effects */
$main-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
